* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    display: table;
    content: '';
    clear: both; 
}
h1 {
    margin: 0;
    padding: 0;
}
.overlay {
    background-color: rgb(233, 240, 253);
}
.header {
    width: 1110px;
    height: 90px;
    margin: 0 auto;
}
.logo {
    float: left;
    padding-top: 35px;
    font-size: 30px;
    font-family: "Roboto";
    color: #555252;
    text-transform: uppercase;
    line-height: 1.067;
    text-decoration: none;
}
.logo::first-letter {
    color: rgb(26, 188, 156);
    font-weight: bold;
}
.navigation {
    float: right;
}
nav>ul>li {
    display: inline-block;
    padding-top: 40px;
}
nav>ul>li:not(:last-child) {
    padding-right: 30px;
}
li>a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(15, 1, 1);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}
li>a:hover {
    color: rgb(26, 188, 156);
}
.slide {
    position: relative;
}
.container {
    width: 1110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.slideimg {
    display: block;
    width: 100%;
}
.text-on-slide {
    width: 765px;
    margin: 0;
    text-decoration: none;
    font-size: 24px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.25;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
}
.text-on-slide::first-line {
    font-size: 60px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.37;
    text-align: left;
}
.lbut, .rbut {
    border: none;
    width: 105px;
    height: 105px;
    background-color: rgba(78, 198, 171, 0.65);
    background-repeat: no-repeat;
    background-position: center;

}
.lbut:hover ,.rbut:hover {
    background-color: rgba(78, 198, 171, 1);
}
.lbut {
    background-image: url(../images/hw-05/left_button.png);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}
.rbut {
    background-image: url(../images/hw-05/right_button.png);
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}
/* .slideoverlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 2, 0.52);
    position: absolute;
} */
.slide::before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 2, 0.52);
}
/* .slideoverlay>a {
    width: 100%;
    height: 100%;
} */
.collection {
    width: 1110px;
    margin: 0 auto;
}
.hcol {
    margin-top: 98px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 48px;
    font-family: "Roboto";
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 1.2;
}
.hcol::after{
    display: block;
    content: '';
    width: 160px;
    height: 9px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1abc9c;
    margin-top: 28px;
    margin-bottom: 80px;
}
.product {
    position: relative;
    float: left;
    width: 255px;
    background-color: rgb(50, 50, 50);
    margin-bottom: 100px;
}
.product_name {
    width: 200px;
    height: 40px;
    float: left;
    padding-top: 5px;
    padding-left: 14px;
}
.product_name>a {
    text-decoration: none;
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    font-weight: bold;
}
.price {
    float: right;
    width: 55px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.44);
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}
div>.prodphoto {
    display: block;
}
.product:not(:last-child) {
    margin-right: 30px;
}
.box {
    position: absolute;
    width: 255px;
    height: 283px;
    background-color: rgba(255, 255, 255, 0.42);
    display: none;
}
.box::before {
    display: block;
    content: '';
    width: 236px;
    height: 262px;
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.buttons {
    width: 168px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.buttons>button {
    float: left;
}
.buttons>button:not(:last-child) {
    padding-top: 2px;
}
.smallb {
    width: 50px;
    height: 50px;
    text-decoration: none;
    background: none;
    border: 1px solid rgb(255, 255, 255);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}
.f {
    background-image: url(../images/hw-05/1b.png);
}
.s {
    background-image: url(../images/hw-05/2b.png);
}
.t {
    background-image: url(../images/hw-05/3b.png);
}
.smallb:not(:nth-last-child(-n+2)) {
    margin-right: 8px;
}
.smallb:hover,.bigb:hover {
    background-color: #1abc9c;
}
.bigb {
    background-color: #323232;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    display: block;
    width: 166px;
    height: 50px;
    margin-top: 7px;
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.286;
    text-align: center;
}
.bigb>span {
    display: inline-block;
    float: left;
}
.bigb::before {
    display: block;
    float: left;
    content: '';
    width: 29px;
    height: 29px;
    background-image: url(../images/hw-05/4b.png);
    background-repeat: no-repeat;
    margin-right: 15px;
    margin-left: 13px;
}
.product:hover > .box{
    display: block;
}
.product:hover {
    background-color: #1abc9c;
}
.basement {
    width: 100%;
    height: 90px;
    background-color: #323232;
}
.rights {
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(254, 254, 254);
    line-height: 1.75;
    text-align: center;
    text-decoration: none;
    padding-top: 30px;
}
.designer {
    color: #46bfa9;
}