* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 900px;
    margin: 0 auto;   
}
.navigation {
    list-style-type: none;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 99px;
    /* 77-(24-14)/2=72 */
    /* 104-(24-14)/2=99 */
}
.navigation li {
    display: inline-block;
}
.navigation a:hover {
    color: rgb(3, 169, 244);
}
.lifestyle a {
    padding-right: 140px;
}
.photodiary {
    padding-right: 140px;
}
.music {
    padding-right: 140px;
}
.menu { 
    text-decoration: none;
    font-size: 14px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    line-height: 1.714;
}
.img {
    padding-bottom: 27px;
    margin-top: 0px;
}
.main_block {
    margin-right: 56px;
    margin-bottom: 135px;
    width: 420px;
    display: inline-block;
}
.main_block:nth-child(even) {
    margin-right: 0px;
}
.main_block:nth-last-child(-n+3) {
    margin-bottom: 55px;
}
.under-photo{       
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
    padding-bottom: 21px;     
    font-weight: 300;
}
.head-of-article {
    font-size: 30px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.2;
    padding-bottom: 26px;   
    white-space: nowrap;
}
.main-text {
    font-size: 14px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.714;
}
#button {    
    font-size: 20px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.2;
    text-align: center;    
    height: 60px;
    width: 165px;
    cursor: pointer;
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    border-style: solid;
    background: none;
}
#loadmore {
    text-align: center;  
    padding-bottom: 70px;  
}