* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
         url('../fonts/montserrat-v14-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.header {
    padding: 0;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.navigation li {
    list-style: none;
}
.navigation>ul {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    justify-content: space-between;
}
.navigation a {
    font-size: 14px;
    font-family: "Montserrat";
    color: #222222;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 400;
}
.navigation a:hover {
    color: #fed136;
    transition: color .2s linear;
}
.logo {
    font-size: 30px;
    font-family: "Montserrat";
    color: #fed136;
    font-weight: bold;
    line-height: 1.2;
}
a {
    text-decoration: none;
}
.head-of-section {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(119, 119, 119);
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 75px;
}
.head-of-section>span {
    font-size: 40px;
    font-family: "Montserrat";
    color: #222222;
    line-height: 1.875;
    text-align: center;
    display: block;
    font-style: normal;
}
.our-services>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.our-services li{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 290px;
    list-style: none;
    padding-top: 95px;
    padding-bottom: 120px;
}
ul>.services::before {
    display: block;
    content: '';
    width: 75px;
    height: 75px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 4px #fed136;
    border-radius: 50%;
}
ul>.services:nth-child(1)::before {
    background-image: url(../images/hw-07/Icon-Basket.png);
}
ul>.services:nth-child(2)::before {
    background-image: url(../images/hw-07/Icon-Laptop.png);
}
ul>.services:nth-child(3)::before {
    background-image: url(../images/hw-07/Icon-Locked.png);
}
.services>h3 {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    line-height: 1.2;
    font-weight: 700;
    padding-bottom: 10px;
}
.services>p {
    font-size: 14px;
    font-family: "Roboto Slab";
    color: rgb(153, 153, 153);
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
}
.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #222222;
    background-image: url(../images/hw-07/Map\ Image.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    left: 0;
}
.on-background {
    color: #777777;
    padding-top: 110px;
}
.on-background>span {
    color: #ffffff;
}
.forms-for-contact {
    height: 210px;
    width: 940px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.forms-for-contact>input {
    height: 52px;
}
.forms-for-contact>* {
    width: 455px;
    border-radius: 4px;
    border: none;
}
.forms-for-contact>textarea {
    height: 210px;
    resize: none;
}
input[type="text"], input[type="email"], textarea {
    padding-left: 20px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(0,0,0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}
input::placeholder, textarea::placeholder {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}
textarea {
    padding-top: 19px;
}
input[type="submit"] {
    display: block;
    margin: 0 auto;
    height: 66px;
    width: 240px;
    border: none;
    background-color: #fed136;
    border-radius: 4px;
    margin-top: 30px;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 115px;
}
input:focus:valid, textarea:focus:valid {
    outline: 3px solid green;
}
input:focus:invalid, textarea:focus:invalid {
    outline: 3px solid red;
}
  
