* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
}
.navigation li {
    list-style: none;
}
.navigation>ul {
    display: flex;
    flex-wrap: wrap;
    width: 490px;
    justify-content: space-between;
    font-size: 14px;
    font-family: "Montserrat";
    color: #95e1d3;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 500;
}
.navigation li:hover {
    color: #f38181;
    transition: color .2s linear;
}
.navigation li::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #f38181;
    margin-top: 7px;
    opacity: 0;
    transition: opacity .2s linear;
}
.navigation li:hover::after {
    opacity: 1;
}
.logo {
    font-size: 30px;
    font-family: "Montserrat";
    color: #95e1d3;
    font-weight: bold;
    line-height: 1.2;
}
a {
    text-decoration: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.head-of-section {
    min-height: 250px;
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding-top: 75px;
}
.head-of-section::after {
    display: block;
    content: '';
    background-color: #f38181;
    width: 60px;
    height: 3px;
    margin: 0 auto;
    margin-top: 40px;
}
.head-of-section>span {
    font-size: 24px;
    font-family: "Kaushan Script";
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
    display: block;
    padding-bottom: 15px;
}
.container>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container li{
    position: relative;
    width: 383px;
    list-style: none;
    padding-left: 83px;
    padding-bottom: 95px;
}
.container li:nth-last-child(-n+3) {
    padding-bottom: 10px;
}
ul>.services::before {
    display: block;
    content: '';
    width: 80px;
    height: 100%;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-position: center 0px;
}
ul>.services:nth-child(1)::before {
    background-image: url(../images/hw-06/1.png);
}
ul>.services:nth-child(2)::before {
    background-image: url(../images/hw-06/2.png);
}
ul>.services:nth-child(3)::before {
    background-image: url(../images/hw-06/3.png);
}
ul>.services:nth-child(4)::before {
    background-image: url(../images/hw-06/4.png);
}
ul>.services:nth-child(5)::before {
    background-image: url(../images/hw-06/5.png);
}
ul>.services:nth-child(6)::before {
    background-image: url(../images/hw-06/6.png);
}
.services>h3 {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 400;
    padding-bottom: 10px;
}
.services>p {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
    font-weight: 400;
}
.container>p {
    width: 950px;
    margin: 0 auto;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    font-weight: 400;
    padding-bottom: 90px;
}
.container-for-flex {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 380px;
    position: relative;
    margin-bottom: 85px;
}
.reference {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity .2s linear;
}
.reference>a {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a;
    display: block;
    width: 56px;
    height: 56px;
    margin: 1px;
}
.reference>a:hover {
    background-color: #95e1d3;
    transition: background-color .2s linear;

}
.facebook {
    background-image: url(../images/hw-06/facebook.png);
}
.twitter {
    background-image: url(../images/hw-06/twitter.png);
}
.pinterest {
    background-image: url(../images/hw-06/pinterest.png);
}
.instagram {
    background-image: url(../images/hw-06/instagram.png);
}
.image>img {
    display: block;
}
.image {
    position: relative;
}
.image::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-image:linear-gradient(
        rgb(243, 129, 129, 0.9) 0%,
        rgb(252, 227, 138, 0.9) 100%);
    opacity: 0;
    transition: opacity .2s linear;
}
.image:hover {
    transform: translate(-10px, -10px);
    transition:  transform .2s linear;
}
.image:hover::before {
    opacity: 1;
    box-shadow: 10px 10px 0 rgb(149, 225, 211);
    transition: box-shadow .2s linear;
}
.image:hover .reference {
    opacity: 1;
    transition: opacity .2s linear;
}
.name {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
    padding-top: 30px;
    display: block;
    padding-bottom: 10px;
}
.job {
    display: block;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: center;
    font-weight: 300;
}
.footer {
    position: relative;
    min-height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(153, 153, 153, 0.5);
}
.footer_text {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
.footer_link {
    color: rgb(243, 129, 129)
}
.form {
    width: 230px;
    height: 40px;
    padding: 12px;
    font-size: 15px;
    border: 1px solid rgb(231, 231, 231);
    border-right: none;
    position: relative;
    transform: translateX(4px);

}
.form::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: rgb(204, 204, 204);
}
.knob {
    min-width: 150px;
    height: 40px;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid rgb(149, 225, 211);
    color: rgb(255, 255, 255);
    background-color: rgb(149, 225, 211);
    cursor: pointer;
}
