$colors: (
    justwhite: #ffffff,
    someyellow: #fce38a,
    somecoral: #f38181,
    somegray: rgb(51, 51, 51),
    somewhite: rgb(153, 153, 153),
    first-of-gradient: rgba(243, 129, 129, 0.9),
    second-of-gradient: rgba(252,227,138,0.9),
    someblue: rgb(149, 225, 211),
    whiteagain: rgb(231, 231, 231),
    onemoregray: rgb(204, 204, 204),
)